.navbar {
    position: sticky;
    background: black;
    color: rgb(19, 243, 228);
    font-family: 'Indie Flower', cursive;
    font-variant: small-caps;
    box-shadow: 0 0 15px 0px rgb(19, 221, 243);
}

.navbar-brand {
    margin: 0;
    font-family: 'Butcherman', cursive;
    font-size: 1.75em;
    letter-spacing: 1px;
}

.nav-msg {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 5s;
}

.success {
    animation: successFade 0.5s;
}

.fail {
    animation: failFade 0.5s;
}

@keyframes successFade {
    0% {
        color: rgb(19, 243, 228);
    }
    25% {
        color: rgb(31, 208, 4);
    }
    75% {
        color: rgb(31, 208, 4);
    }
    100% {
        color: rgb(19, 243, 228);
    }
}
  
@keyframes failFade {
    0% {
        color: rgb(19, 243, 228);
    }
    25% {
        color: red;
    }
    75% {
        color: red;
    }
    100% {
        color: rgb(19, 243, 228);
    }
}

.score {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    padding: 0.25em 0;
}

.pipe {
    margin: 0 .75em;
    color: white
}

.react-logo {
    animation: react-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
  }
  

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 

@media only screen and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        position: inherit;
    }
}